.events {
  /* background-color: antiquewhite; */
  width: 1500px;
  height: 262px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  overflow-y: hidden;
  -ms-overflow-style: none;
}

.events::-webkit-scrollbar {
  display: none;
}
